*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
--light-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--cyan: hsl(167, 40%, 24%);
--blue: hsl(198, 62%, 26%);
--dark-cyan: hsl(168, 34%, 41%);
--dark-blue: hsl(212, 27%, 19%);
--grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--gayish-blue-2: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);
}
html{
    overflow-x: hidden;
}
body{
    max-width: 1440px;
    margin-inline: auto;
    font-family: Barlow, sans-serif;
    font-weight: 600;
    color:var(--grayish-blue);
    scroll-behavior: smooth;
    overflow-x:hidden;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    transition: color 0.3s ease
}
button{
    cursor: pointer;
    border: none;
}
img{
    object-fit: contain;
    display: block;
}
main{
    text-align: center;
}
.contact, .banner h1,.about-text :where(h2,a),
.about-3 h3,.about-4 h3,
.services h3,.testimonial-user h5{
    font-family: Fraunces, sans-serif;
    font-weight: 900;
}
header{
    background-image: url('images/mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:2rem 1rem;
    height:95vh; 
    background-color: var(--blue);
    position: relative;
}
.menu-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-wrap ul{
    position: absolute;
    top: 24%;
    right: -999px;
    transition: right 0.5s;
    background-color: var(--white);
    color: var(--grayish-blue);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    gap: 1.5rem;
    width: 85%;
    z-index: 20;
}
.menu-wrap.active ul{
    right: 10%;
    transition: right 0.5s;
}
.menu-wrap ul li a:hover{
    color:var(--yellow);
}

.contact{
    padding:0.76rem 1.2rem ;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: var(--yellow);
    color:var(--dark-blue);
    transition: color 0.3s ease-in,background-color 0.3s ease-in;
}
.contact:hover{
    background-color: var(--blue);
    color:var(--white);
}
.hamburger-menu{
    display: block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    z-index: 20;
    position: relative;
}
.hamburger-menu img{
    width: 100%;
    height: 100%;
}

.menu-wrap.active ul::before{
    width: 30px;
    height:30px;
    background-color: var(--white);
    content: '';
    position: absolute;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    top: -29px;
    right: 0;
}
.menu-wrap ul a{
    font-size: 1.1rem;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem;
    position: absolute;
    top:32%;
    left:0;
    right:0;
    text-align: center;
}
.banner h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 5.5px;
    color:var(--white);
    padding: 0.5rem;
}
/* moble menu */
@media (min-width:600px){
    .menu-wrap ul{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        width: auto;
        max-width: 100%;
        transform: translateX(0);
        gap: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        color:var(--white);
        padding:0;
    }
    .hamburger-menu{
        display: none;
    }
    .contact{
        background-color: var(--white);
        color:var(--blue);
    }
    .contact:hover{
        background-color:rgba(255,255,255,0.38);
        color: var(--white);
    }
    .menu-wrap ul li a:hover{
        color:var(--cyan);
    }
}
.about{
   display: grid;
   grid-template-columns: 1fr;
}

.about .about-img img,
.feature img{
    inline-size: 100%;
}
.feature{
    display: grid;
    grid-template-columns: 1fr;
}
.about-text{
    padding: 2rem;
    max-width: 455px;
    width: 100%;
    justify-self: center;
    align-self: center;
}
.about-text h2{
    font-size: 2.25rem;
    margin-bottom: 2rem;
    color:var(--dark-blue);
    line-height: 1.4;
}
.about-text a{
    margin-top: 2rem;
    color: var(--dark-blue);
    text-transform: uppercase;
}
.about-3,
.about-4{
    background-repeat: no-repeat;
    background-position: 100% 40%;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 2rem; 
    height: 36rem;
    resize: both;
}
.about-3{
    background-image: url('images/mobile/image-graphic-design.jpg');
}
.about-4{
    background-image: url('images/mobile/image-photography.jpg');
    color:var(--dark-blue);
}
.about-3 .about-text,
.about-4 .about-text{
    align-self: flex-end;
    max-width: 400px;
    line-height: initial;
}
.about-3 h3,.about-4 h3{
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}
.about-3 h3{
    color: var(--cyan);
}
.about-4{
    color:var(--blue);
}
.about-3 p{
    color: var(--dark-cyan);
}

.about-text a{
    position: relative;
}
.about-text a::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    height:10px;
    transform: scaleX(0);
    border-radius: 10px;
    transform-origin: right;
    z-index: -1;
    transition: transform 0.3s ease;
}
.about-1 .about-text a::before
{
    background-color: var(--yellow);
}
.about-2 .about-text a::before
{
    background-color: var(--light-red);
}
.about-text a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
.services{
    padding:3rem 2rem;
    text-align: center;
}
.services h3{
    text-transform: uppercase;
    color: var(--Dark-grayish-blue);
    letter-spacing: 2.5px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5rem;
}
.testimonials-container{
    max-width: 1000px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap:2rem;
}
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
}
.testimonial img{
    border-radius: 50%;
    height: 70px;
    height: 70px;
}
.testimonial p{
    line-height: 1.6;
}
.testimonial-user span:nth-child(1){
    color:var(--dark-blue);
    margin-bottom: 0.5rem;
    display: block;
}
.testimonial-user span{
    color:var(--gayish-blue-2);
    font-size: 0.94rem;
}
.projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.projects img{
    max-width: 800px;
    width: 100%;
}
footer{
    padding:3rem 1.4rem;
    background-color: rgb(142,208,196);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2.5rem;
    color: var(--dark-cyan);
}
footer a{
    font-weight: 600;
}
footer .logo{
    filter:  invert(45%) sepia(22%) saturate(790%) hue-rotate(118deg) brightness(95%) contrast(92%);
}
.social-nav,
.footer-nav
{
    display: flex;
    gap:1.5rem;
}
footer a,footer .social-nav img{
    transition: color 0.3s ease,filter 0.3s ease;
}
footer .social-nav img:hover{
    filter: invert(100%) sepia(98%) saturate(0%) hue-rotate(97deg) brightness(103%) contrast(102%);
}
footer a:hover{
    color:var(--white);
}
@media (min-width:800px){
    header{
        background-image: url('images/desktop/image-header.jpg');
        padding: 2rem;
    }
    .banner{
        top:20%;
    }
    .banner h1{
        font-size: 3.4rem;
    }
    .about{
        grid-template-columns: 1fr 1fr;
    }
    main{
        text-align: left;
    }
    .about-1 .about-text{
        order:1;
    }
    .about-1 .about-img{
        order:2;
    }
    .feature {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .about-3,.about-4{
        height: 500px;
        background-position: center;
    }
    .about-3{
        background-image: url('images/desktop/image-graphic-design.jpg');
    }
    .about-4{
        background-image: url('images/desktop/image-photography.jpg');
    }
    .services{
        margin: 9rem 0 4rem;
    }
    .testimonials-container{
        grid-template-columns: repeat(3,1fr);

    }
    .testimonial
    {   max-width: 300px;
        height: 370px;
    }
    .projects{
        grid-template-columns: repeat(4,1fr);
    }
    footer{
        padding:4rem;
    }
}